# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log files
*.log

# STM32CubeMX生成ファイルは除外 (共有サーバからダウンロード)
Generate/*

# arm-none-eabiは除外 (共有サーバ、または公式からダウンロード)
gcc-arm-11.2-2022.02-x86_64-arm-none-eabi.tar.xz
gcc-arm-none-eabi-*/

# 生成物は除外
build/*
debug_taniho
debug_taniho.hex
debug_taniho.elf
debug_reko
debug_reko.hex
debug_reko.elf

# IntelliSense用キャッシュファイルは除外
.includes/*

# cmake の一時ファイルは除外
**/cmake_install.cmake
CMakeCache.txt
**/CMakeFiles/
**/githash.h
Makefile

# Google test
_deps/
CTestTestfile.cmake
